@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px; outline:none;}
/* body{font: 12px/1.5 Tahoma,Arial,"宋体",sans-serif;} */
li,h2,p{ list-style:none;padding:0px; margin:0px;}
a{ text-decoration:none; color:#666;}
i{font-style: normal;}

.part{ /*width:980px;*/ margin:0 auto;font: 12px/1.5 Tahoma,Arial,"宋体",sans-serif;}
.part .parttop{border:1px solid #e3e3e3;border-bottom:none;height:33px;background: #f9f9f9;margin-bottom: 6px;}
.part .parttop .title{float:left;background:url(../../images/new/parttitle.gif) 16px 6px no-repeat;height:33px; padding-left:38px;line-height: 33px;font-size: 14px;color: #757575;}
.part .leftpart{float:left;width:760px;}
.part .leftpart .sw-mod-offerImg {float:left;border-bottom: 1px solid #eee;width:760px;}
.part .leftpart .sw-mod-offerImg:hover{background:#f9f9f9;}
.part .leftpart .mod-select {background:#fafafa;}
.part .leftpart .fd-clr {}
.part .leftpart h2 {font-size:14px;font-weight: normal;height:36px;line-height: 36px;color: #2050a4;}
.part .leftpart h2 a{color: #2050a4;}
.part .leftpart .sw-ui-photo100{padding:0px;}
.part .leftpart .sw-ui-photo100 img{border:none;}
.part .leftpart .sw-ui-photo100-box{float:left;border:1px solid #f2f2f2;height: 78px;text-align: center;vertical-align: middle;width: 120px;margin-bottom: 6px;}
.part .leftpart .sw-ui-text{color: #666;line-height: 20px;margin-bottom: 5px;max-height: 38px;overflow: hidden;white-space: nowrap;}
.part .leftpart .sw-ui-text span{display: block; height: 38px; line-height: 19px; overflow: hidden; white-space: normal; width: 380px;}
.part .leftpart .sw-ui-text i{padding:0 5px 0 2px; color: #dcdcdc;}
.part .leftpart .sw-ui-textp{margin-bottom: 4px;}
.part .leftpart .sw-ui-textp .more{float:left;width:68px;background: url(../../images/new/button_bg.gif) repeat-x;height:20px;line-height: 20px;border: 1px solid #dadada;text-align: center;}
.part .leftpart .sw-ui-textp .more a{font-size: 12px;}
.part .leftpart .sw-block-img{width: 120px;}
.part .leftpart .sw-mod-offer-block{float: left;padding-top: 7px;}
.part .leftpart .sw-block-description {width: 390px;padding-left:6px;padding-top:12px;}
.part .leftpart .sw-block-date {width: 160px;padding-top:12px;}
.part .leftpart .sw-block-more {width: 80px;padding-top:18px;}


.part .rightpart{float:right;width:213px;padding-left: 7px;}
.part .rightpart img{margin-bottom: 2px;}



.page{ padding-right:5px; float:left; padding-bottom:10px;margin:3px; padding-left:150px;font-size:12px; padding-top: 10px}
.page a,.page b{background-color: #FFFFFF;background-repeat: no-repeat;border: 1px solid #C2D5E3;color: #333333;display: inline;float: left;height: 26px;line-height:26px;margin-left: 4px;overflow: hidden;padding: 0 8px;text-decoration: none;}
.page b{background-color: #E5EDF2;}
.page a.prePage{background-image:url(../../images/new/arw_l.gif);background-position: 50% 50%;}
.page a.nextPage{background-image: url(../../images/new/arw_r.gif);background-position: 90% 50%;padding-right: 25px;}


















